:root {
  --d-sidebar-highlight-color: var(--primary);
  --primary-700: var(--primary-high);
  --primary-500: var(--primary-high);
  --primary-400: var(--primary-medium);
  --primary-300: var(--primary-medium);
  --highlight-bg: var(--d-hover);
}

@import 'fonts';

@keyframes background-fade-highlight {
  0% {
    background-color: var(--d-hover);
  }
  100% {
    background-color: transparent;
  }
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  &.text-size-smaller {
    font-size: 16px;
  }
  &.text-size-larger {
    font-size: 18px;
  }
  &.text-size-largest {
    font-size: 20px;
  }
}

textarea,
input {
  &::placeholder {
    color: var(--secondary-medium);
  }
}

tbody {
  border-top: 3px solid var(--secondary-high);
  tr.topic-list-item {
    border-bottom: 1px solid var(--secondary-high);
    background-color: var(--secondary);
  }
}

.alert.alert-info {
  background-color: var(--secondary-high);
}

.topic-list td {
  color: var(--primary);
}

// Header
.d-header {
  box-shadow: none;
  border-bottom: 1px solid var(--secondary-high);
  height: 75px;
}

// Menu Panel Links
.panel-body-contents {
  a {
    color: var(--primary);
  }
  .badge-wrapper.bullet span.badge-category {
    color: var(--primary);
    font-weight: 400;
  }
}

.user-menu .quick-access-panel li {
  .d-icon {
    color: var(--primary);
  }
}

.user-menu .quick-access-panel .d-icon,
.user-menu .quick-access-panel:hover .d-icon,
.user-notifications-list .d-icon,
.user-notifications-list:hover .d-icon {
  color: currentColor;
}

.user-menu.revamped .tabs-list .btn.active {
  background: var(--tertiary);
  color: var(--primary);
  .d-icon {
    color: var(--primary);
  }
  .badge-notification {
    background: var(--primary);
  }
}

// notifications
.d-header .unread-notifications {
  background-color: var(--success);
}
.unread-private-messages {
  background-color: var(--love);
}

// Last visit line + text
.topic-list .topic-list-item-separator td {
  border-bottom: 1px solid $highlight-high#{90};
  span {
    color: var(--highlight-high);
  }
}

// title when injected on top of topics
.extra-info-wrapper {
  .topic-link {
    color: var(--primary);
  }
  .categories-wrapper .badge-wrapper .badge-category {
    color: var(--primary);
  }
}

// not visited topics
tr:not(.visited) .link-top-line .title {
  font-weight: 600;
}

td .link-bottom-line .badge-category {
  font-weight: 400;
}

.new-user-wrapper .user-navigation .nav-pills li a.active {
  color: var(--quaternary);
  border-color: var(--quaternary);
}

.new-user-wrapper .user-navigation .nav-pills li a:hover,
.new-user-wrapper .user-navigation .nav-pills li a:focus {
  color: var(--tertiary);
  border-color: var(--tertiary);
}

.nav-pills > li a.active,
.nav-pills > li button.active,
.nav-pills > li > a:hover,
.nav-pills > li button:hover {
  background: var(--tertiary);
  color: var(--secondary);
}

// create topic
button#create-topic {
  background-color: var(--success);
  color: var(--secondary);
  border-radius: 4px;
  .d-icon {
    color: var(--secondary);
  }
  &:hover {
    background-color: var(--success-medium);
  }
}

// header icons
.header-sidebar-toggle,
.d-header-icons {
  a,
  button {
    .d-icon {
      color: var(--primary);
    }
  }
}

// category box color
.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner {
  border: 1px solid var(--secondary-high);
}

// select kit collection
.select-kit-row .category-name,
.select-kit-row .name {
  color: var(--primary);
}
.select-kit-row.is-highlighted[title='no tags'] span.name {
  color: var(--tertiary);
}

// post notice
.post-notice {
  background-color: var(--secondary-high);
}

// user name on posts and chat

.topic-meta-data {
  .names .username a {
    color: var(--success);
  }
}

.chat-message-info__username__name {
  color: var(--success);
}

// custom side bar styles
.custom-nav-list {
  li:hover,
  h3 a:hover {
    background-color: var(--tertiary-500) !important;
  }
}

.custom-nav-list h3 {
  border-color: var(--secondary-high);
}

// avatar white background
img.avatar {
  background-color: var(--primary);
}

.directory .me {
  background-color: var(--tertiary-medium);
}

// topic progress
.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: var(--love);
  .timeline-handle {
    background-color: var(--love);
  }
}

#topic-progress {
  color: var(--love-low);
  background-color: var(--secondary);
  border-color: var(--love);
  .bg {
    background-color: var(--love);
    border-color: var(--love);
  }
}

// composer popup
.composer-popup {
  background: var(--secondary-high);
}

// /top

.select-kit.dropdown-select-box.period-chooser
  .period-chooser-row
  .top-date-string,
.select-kit.dropdown-select-box.period-chooser
  .period-chooser-header
  h2.selected-name
  .top-date-string {
  color: var(--quaternary);
}

// posts

.read-state {
  color: var(--quaternary);
}

blockquote,
aside.quote .title {
  background: var(--primary-low);
  border-color: var(--primary-medium);
}

nav.post-controls .actions button.create,
nav.post-controls .actions a,
nav.post-controls .actions button {
  color: var(--primary-medium);
  .d-icon {
    color: currentColor;
  }
  &.d-hover {
    color: var(--primary);
  }
}

.discourse-no-touch .topic-body .actions .fade-out {
  opacity: 1;
}

pre code {
  background: var(--secondary-high);
}

// chat

.no-touch {
  .chat-message-container:hover,
  .chat-transcript:hover,
  .chat-message-container.-active,
  .-active.chat-transcript {
    pre code {
      background: var(--secondary);
    }
  }
}

.chat-transcript {
  border: 1px solid var(--primary-low);
  background: var(--secondary);
  .discourse-no-touch & {
    &:hover {
      background: inherit;

      pre code {
        background: rgba(var(--primary-rgb), 0.05);
      }
    }
  }
}
$group-styles: (
  first: (color: #668699),
  Donator: (color: #94FFFF),
  Group_Owners: (color: #f1c40f),
  SupporterT1: (gradient: -webkit-linear-gradient(45deg, #ffe34b, #ffd700)),
  SupporterT2: (gradient: -webkit-linear-gradient(45deg, #f68fb7, #ec4e8d)),
  SupporterT3: (gradient: -webkit-linear-gradient(45deg, #df7825, #dc9a51)),
  clan-owner: (color: #ed8b87),
  crimson-crescent: (color: #600000),
  the-dawn-order: (color: #ADD8E6),
  celestial: (gradient: -webkit-linear-gradient(#620aa1, #A910E0)),
  legendary-clan-owner: (
    gradient: linear-gradient(to right, #F22534 20%, #c21e2a 40%, #c21e2a 60%, #F22534 80%),
    animated: true
  ),
  artists: (color: #b027c1),
  Tester: (color: #1e8b4c),
  moderator: (color: #5c7cb8),
  game_moderators: (color: #9864e5),
  admin: (color: #E13D37),
  developer: (gradient: -webkit-linear-gradient(45deg, #d6f9e2, #00ff98)),
  Forum_Admin: (color: #c7c7c7),
  forum-president: (
    gradient: linear-gradient(to right, #F22534 20%, #c21e2a 40%, #c21e2a 60%, #F22534 80%),
    animated: true
  ),
);

@mixin group-style($color: null, $gradient: null, $animated: false) {
  a, span {
    @if $gradient {
      background: unquote($gradient); // ensure it's output exactly
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @else if $color {
      color: $color !important;
    }
    @if $animated {
      background-size: 200% auto;
      font-weight: 900;
      letter-spacing: -1px;
      text-transform: uppercase;
      animation: animated_text 3s linear infinite;
      -moz-animation: animated_text 3s linear infinite;
      -webkit-animation: animated_text 3s linear infinite;
    }
  }
}

@each $name, $settings in $group-styles {
  .group--#{$name} {
    @include group-style(
      map-get($settings, color),
      map-get($settings, gradient),
      map-get($settings, animated)
    );
  }
}

@keyframes animated_text {
  to {
    background-position: 200% center;
  }
}
